# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
ios/Pods/
android/.gradle/
android/app/build/
flutter_export_environment.sh

# Xcode
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xccheckout

# macOS
.DS_Store

# VS Code
.vscode/
.idea/

# Logs
*.log