# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
.idea/
.vscode/
*.iml

# iOS
ios/Pods/
Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
**/build/

# macOS
.macos/

# misc
*.log
*.lock
.DS_Store